{% for chat in chats %}
    <div class="bg-yellow-300 p-4 text-black rounded-lg shadow-lg flex flex-row mb-4">
        <div class="bg-black rounded-full flex justify-center content-center text-white p-4">
            img
        </div>
        <div class="flex flex-col ml-2 justify-center">
            <div class="font-bold">
                {{ chat.username }}
            </div>
            <div class="text-gray-600">
                Last Message
            </div>
        </div>
    </div>
{% empty %}
    <div class="text-xl my-2">No such user</div>
{% endfor %}