{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% compress css %}
	<link rel="stylesheet" href="{% static 'src/output.css' %}" />
	{% endcompress %}
	<link rel="stylesheet" href="{% static 'src/scrollbar.css' %}">
	<script src="https://unpkg.com/htmx.org"
		integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/e3853545f7.js" crossorigin="anonymous"></script>
	<title>StarChat</title>
</head>

<body class="h-screen overflow-hidden">
	<nav class="flex items-center justify-between flex-wrap bg-yellow-300 p-3">
		<div class="flex items-center flex-shrink-0 text-black mr-6">
			<i class="fa-solid fa-star fa-2xl text-black mr-2"></i>
			<span class="font-semibold text-xl tracking-tight">StarChat</span>
		</div>
		<div class="rounded-full bg-white p-2">
			<a href="{% url 'profile' slug=user.profile.slug %}">
				<img class="w-8 h-8 rounded-full" src="{{ user.profile.image.url }}" alt="IMG">
			</a>
		</div>
	</nav>

	{% block content %}

	{% endblock content %}
</body>

</html>